.frontpage {
  margin: 2rem 0;
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__introduksjon {
    margin: 1rem 0 2rem 0;
  }
  &__sidetittel {
    margin: 2rem 0;
    text-align: center;
  }
}

.lenke {
  &__panel {
    cursor: pointer;
  }
  &__container {
    margin: 1rem 0;
  }
  &__tittel {
  }
  &__beskrivelse {
    margin: 1rem 1rem 1rem 0;
  }
  &__knapp {
    display: flex;
    justify-content: center;
  }
}
